<h1 class="ui header" id="header">Welcome to the E-Commerce Site, Enter a Shop!</h1>

<% if @shops.any? %>
  <%= @shops.each do |shop| %>
    <h2><%= link_to "#{shop.name}" %></h2>
    <hr />
    <% end %>
<% else %>
  <h2>No Current Shops, <%= link_to "Create the First One", new_shop_path %></h2>
  <% end %>
